
                   
                    *{box-sizing: border-box;font-family: Arial, Helvetica, sans-serif;}
                    
                    body{margin: 0;font-size: 20px;}

                    header{background-color: whitesmoke;
                     text-align: center; padding: 10px
                    ;font-weight: 300;}

                    iframe{width: 80%;height: 90vh;}


                    .subtitulo{color: brown;background-color: greenyellow;font-weight: 200;font-size: 18px;
                    margin:0;text-align: center;box-sizing: border-box;overflow: hidden;padding: 2px;}

                                     
                    .bloco1 {color: brown;background-color: greenyellow;font-weight: 200;font-size: 18px;
                        margin:0;text-align: center;box-sizing: border-box;overflow: hidden;padding: 5px;}
                    
                    .bloco1 a{color:brown; padding: 16px 20px;font-size: 22px; float: left;font-weight: 600;display: block;font;text-decoration: none;text-align: center;}
                    
                    .bloco3 {color: greenyellow;
                    float: left;
                    ;width: 50%; padding: 15px;}

                    .bloco4{background-color: chartreuse;
                    float: left;
                    ;width: 50%; padding: 15px;}

                    .fundoverde {background-color: greenyellow;}
                    .letramarrom {color: brown;}
                    .grande {font-size: 22px;}
                    .center{text-align: center;}
